In [1]:
import pandas as pd
import numpy as np
import os

In [ ]:
import os
path='C:/'
file_list=os.listdir
file_list_py=[file for file in file_]

In [48]:
entry = pd.read_csv('C:/data/entry/2020/2020-05-05_entry.csv')
entry

      등번호   이름  투타유형        생년월일           체격   구분 team
0    70.0  이동욱  우투우타  1974-07-17  179cm, 81kg   감독   NC
1    27.0  이호준  우투우타  1976-02-08  187cm, 95kg   코치   NC
2    74.0  한규식  우투우타  1976-09-14  176cm, 78kg   코치   NC
3    75.0  진종길  우투좌타  1981-09-23  178cm, 80kg   코치   NC
4    77.0  용덕한  우투우타  1981-04-09  176cm, 82kg   코치   NC
..    ...  ...   ...         ...          ...  ...  ...
362   NaN  장진혁  우투좌타  1993-09-30  184cm, 83kg  외야수   한화
363   NaN   호잉  우투좌타  1989-05-18  190cm, 92kg  외야수   한화
364  10.0  장운호  우투우타  1994-02-20  183cm, 85kg  외야수   한화
365  19.0  이용규  좌투좌타  1985-08-26  175cm, 70kg  외야수   한화
366  33.0  정진호  우투좌타  1988-10-02  185cm, 78kg  외야수   한화

[367 rows x 7 columns]

In [51]:
entry['선발유무']=0

In [52]:
entry

      등번호   이름  투타유형        생년월일           체격   구분 team  선발유무
0    70.0  이동욱  우투우타  1974-07-17  179cm, 81kg   감독   NC     0
1    27.0  이호준  우투우타  1976-02-08  187cm, 95kg   코치   NC     0
2    74.0  한규식  우투우타  1976-09-14  176cm, 78kg   코치   NC     0
3    75.0  진종길  우투좌타  1981-09-23  178cm, 80kg   코치   NC     0
4    77.0  용덕한  우투우타  1981-04-09  176cm, 82kg   코치   NC     0
..    ...  ...   ...         ...          ...  ...  ...   ...
362   NaN  장진혁  우투좌타  1993-09-30  184cm, 83kg  외야수   한화     0
363   NaN   호잉  우투좌타  1989-05-18  190cm, 92kg  외야수   한화     0
364  10.0  장운호  우투우타  1994-02-20  183cm, 85kg  외야수   한화     0
365  19.0  이용규  좌투좌타  1985-08-26  175cm, 70kg  외야수   한화     0
366  33.0  정진호  우투좌타  1988-10-02  185cm, 78kg  외야수   한화     0

[367 rows x 8 columns]

In [53]:
#라인업 확인
lineup = pd.read_csv('C:/data/game/2020-05-05/라이온즈파크_14/lineup_record.csv')
lineup

     타순               이름   포지션    투타 team
0   1.0   박민우_1993-02-06   2루수  우투좌타   NC
1   2.0   알테어_1991-01-14   중견수  우투우타   NC
2   3.0   나성범_1989-10-03  지명타자  좌투좌타   NC
3   4.0   양의지_1987-06-05    포수  우투우타   NC
4   5.0   박석민_1985-06-22   3루수  우투우타   NC
5   6.0   모창민_1985-05-08   1루수  우투우타   NC
6   7.0   노진혁_1989-07-15   유격수  우투좌타   NC
7   8.0   김성욱_1993-05-01   우익수  우투우타   NC
8   9.0   이명기_1987-12-26   좌익수  좌투좌타   NC
9   NaN  루친스키_1988-12-30    투수  우투우타   NC
10  1.0   김헌곤_1988-11-09   우익수  우투우타   삼성
11  2.0   구자욱_1993-02-12   좌익수  우투좌타   삼성
12  3.0  살라디노_1989-07-20   유격수  우투우타   삼성
13  4.0   이원석_1986-10-21   3루수  우투우타   삼성
14  5.0   김상수_1990-03-23   2루수  우투우타   삼성
15  6.0   김동엽_1990-07-24  지명타자  우투우타   삼성
16  7.0   강민호_1985-08-18    포수  우투우타   삼성
17  8.0   박해민_1990-02-24   중견수  우투좌타   삼성
18  9.0   이성규_1993-08-03   1루수  우투우타   삼성
19  NaN   백정현_1987-07-13    투수  좌투좌타   삼성

In [71]:
df = lineup['이름']
df

0      박민우_1993-02-06
1      알테어_1991-01-14
2      나성범_1989-10-03
3      양의지_1987-06-05
4      박석민_1985-06-22
5      모창민_1985-05-08
6      노진혁_1989-07-15
7      김성욱_1993-05-01
8      이명기_1987-12-26
9     루친스키_1988-12-30
10     김헌곤_1988-11-09
11     구자욱_1993-02-12
12    살라디노_1989-07-20
13     이원석_1986-10-21
14     김상수_1990-03-23
15     김동엽_1990-07-24
16     강민호_1985-08-18
17     박해민_1990-02-24
18     이성규_1993-08-03
19     백정현_1987-07-13
Name: 이름, dtype: object

In [77]:
lineup['생년월일']=0

In [82]:
lineup=lineup
lineup

     타순               이름   포지션    투타 team  생년월일
0   1.0   박민우_1993-02-06   2루수  우투좌타   NC     0
1   2.0   알테어_1991-01-14   중견수  우투우타   NC     0
2   3.0   나성범_1989-10-03  지명타자  좌투좌타   NC     0
3   4.0   양의지_1987-06-05    포수  우투우타   NC     0
4   5.0   박석민_1985-06-22   3루수  우투우타   NC     0
5   6.0   모창민_1985-05-08   1루수  우투우타   NC     0
6   7.0   노진혁_1989-07-15   유격수  우투좌타   NC     0
7   8.0   김성욱_1993-05-01   우익수  우투우타   NC     0
8   9.0   이명기_1987-12-26   좌익수  좌투좌타   NC     0
9   NaN  루친스키_1988-12-30    투수  우투우타   NC     0
10  1.0   김헌곤_1988-11-09   우익수  우투우타   삼성     0
11  2.0   구자욱_1993-02-12   좌익수  우투좌타   삼성     0
12  3.0  살라디노_1989-07-20   유격수  우투우타   삼성     0
13  4.0   이원석_1986-10-21   3루수  우투우타   삼성     0
14  5.0   김상수_1990-03-23   2루수  우투우타   삼성     0
15  6.0   김동엽_1990-07-24  지명타자  우투우타   삼성     0
16  7.0   강민호_1985-08-18    포수  우투우타   삼성     0
17  8.0   박해민_1990-02-24   중견수  우투좌타   삼성     0
18  9.0   이성규_1993-08-03   1루수  우투우타   삼성     0
19  NaN   백정현_1987-07-13    투수  좌투좌타   삼성     0

In [90]:
lineup['이름_0']=0

In [92]:
for i in range(df.shape[0]):
    lineup.loc[i, '생년월일'] = str(lineup.loc[i, '이름']).split('_')[1]
    lineup.loc[i, '이름_0'] = str(lineup.loc[i, '이름']).split('_')[0]

In [93]:
lineup

     타순               이름   포지션    투타 team        생년월일  이름_0
0   1.0   박민우_1993-02-06   2루수  우투좌타   NC  1993-02-06   박민우
1   2.0   알테어_1991-01-14   중견수  우투우타   NC  1991-01-14   알테어
2   3.0   나성범_1989-10-03  지명타자  좌투좌타   NC  1989-10-03   나성범
3   4.0   양의지_1987-06-05    포수  우투우타   NC  1987-06-05   양의지
4   5.0   박석민_1985-06-22   3루수  우투우타   NC  1985-06-22   박석민
5   6.0   모창민_1985-05-08   1루수  우투우타   NC  1985-05-08   모창민
6   7.0   노진혁_1989-07-15   유격수  우투좌타   NC  1989-07-15   노진혁
7   8.0   김성욱_1993-05-01   우익수  우투우타   NC  1993-05-01   김성욱
8   9.0   이명기_1987-12-26   좌익수  좌투좌타   NC  1987-12-26   이명기
9   NaN  루친스키_1988-12-30    투수  우투우타   NC  1988-12-30  루친스키
10  1.0   김헌곤_1988-11-09   우익수  우투우타   삼성  1988-11-09   김헌곤
11  2.0   구자욱_1993-02-12   좌익수  우투좌타   삼성  1993-02-12   구자욱
12  3.0  살라디노_1989-07-20   유격수  우투우타   삼성  1989-07-20  살라디노
13  4.0   이원석_1986-10-21   3루수  우투우타   삼성  1986-10-21   이원석
14  5.0   김상수_1990-03-23   2루수  우투우타   삼성  1990-03-23   김상수
15  6.0   김동엽_1990-07-24  지명타자  우투우타   삼성  1990-07-24   김동엽
16  7.0   강민호_1985-08-18    포수  우투우타   삼성  1985-08-18   강민호
17  8.0   박해민_1990-02-24   중견수  우투좌타   삼성  1990-02-24   박해민
18  9.0   이성규_1993-08-03   1루수  우투우타   삼성  1993-08-03   이성규
19  NaN   백정현_1987-07-13    투수  좌투좌타   삼성  1987-07-13   백정현

In [94]:
lineup[lineup['포지션']=='투수']

    타순               이름 포지션    투타 team        생년월일  이름_0
9  NaN  루친스키_1988-12-30  투수  우투우타   NC  1988-12-30  루친스키
19 NaN   백정현_1987-07-13  투수  좌투좌타   삼성  1987-07-13   백정현

In [98]:
lineup2=lineup[lineup['포지션']=='투수']['생년월일']
lineup2

9     1988-12-30
19    1987-07-13
Name: 생년월일, dtype: object

In [119]:
lineup[lineup['포지션']=='투수']['생년월일'].values

array(['1988-12-30', '1987-07-13'], dtype=object)

In [120]:
lineup3.values

array(['루친스키', '백정현'], dtype=object)

In [121]:
entry['생년월일'].values

array(['1974-07-17', '1976-02-08', '1976-09-14', '1981-09-23',
       '1981-04-09', '1975-01-02', '1972-06-26', '1977-12-03',
       '1980-06-18', '1990-01-03', '1991-10-02', '1990-02-12',
       '1990-04-16', '1988-12-30', '1985-08-25', '1987-07-31',
       '1997-02-17', '1995-02-24', '1990-07-10', '1987-06-05',
       '1989-12-30', '1993-02-06', '1997-12-29', '1989-02-05',
       '1985-05-08', '1985-06-22', '1995-10-07', '1989-05-20',
       '1989-07-15', '2000-06-24', '1991-01-20', '1991-01-14',
       '1993-05-01', '1987-12-26', '1990-12-30', '1989-10-03',
       '1993-10-19', '1967-09-12', '1972-07-05', '1975-05-24',
       '1975-05-25', '1976-12-23', '1973-01-03', '1974-04-20',
       '1967-12-07', '1984-02-08', '1995-01-13', '1993-12-15',
       '1994-07-01', '1995-07-11', '1989-06-18', '1992-12-04',
       '1983-10-11', '1997-11-01', '1994-12-21', '1998-03-10',
       '1994-02-27', '1990-01-09', '1989-05-16', '1982-12-24',
       '1994-01-13', '1988-04-27', '1990-08-26', '1998-08-05',
       '1985-02-09', '1986-10-29', '1985-03-21', '1988-02-28',
       '1989-10-08', '1993-04-19', '1990-10-07', '1988-09-22',
       '1990-09-08', '1994-07-03', '1966-05-24', '1971-08-19',
       '1988-10-16', '1981-06-04', '1960-05-22', '1977-10-23',
       '1974-03-04', '1977-03-18', '1982-12-20', '1989-03-23',
       '1996-09-29', '1988-03-01', '1992-07-24', '1989-04-29',
       '1986-11-29', '1990-10-14', '1995-05-31', '1987-04-04',
       '2001-01-23', '1990-09-16', '1984-07-31', '1990-01-17',
       '2001-04-13', '1995-04-28', '1984-03-31', '1992-01-10',
       '1987-07-28', '1990-12-06', '1992-12-04', '1991-11-18',
       '1991-08-02', '1989-09-09', '1990-05-24', '1995-06-12',
       '1999-07-29', '1995-11-21', '1981-07-01', '1963-04-28',
       '1971-05-25', '1974-10-25', '1985-07-17', '1961-07-27',
       '1972-09-07', '1969-10-01', '1968-04-12', '1967-05-03',
       '1989-09-19', '1998-08-06', '1986-06-26', '1987-05-31',
       '2001-08-30', '1986-09-16', '2000-04-03', '1999-08-19',
       '1996-10-20', '1987-11-09', '1991-05-08', '1981-09-01',
       '1992-07-15', '1985-08-20', '1990-10-13', '1982-10-02',
       '1990-03-12', '1988-12-17', '1997-01-11', '1994-12-28',
       '1994-08-23', '1988-01-12', '1988-10-20', '1979-04-21',
       '1993-11-21', '1990-02-06', nan, '1975-10-01', '1981-09-08',
       '1980-03-15', '1977-04-23', '1973-06-05', '1979-03-13',
       '1986-08-23', '1983-04-12', '1988-02-10', '1994-09-04',
       '1985-03-31', '1997-01-07', '1994-04-26', '1988-01-02',
       '1998-10-22', '1989-11-18', '1992-08-23', '1989-07-29',
       '1991-09-12', '1991-10-10', '1993-05-17', '1990-04-07',
       '1986-02-27', '1989-09-18', '1999-01-27', '1996-03-05',
       '1995-10-17', '1989-08-22', '1986-07-10', '1992-10-24',
       '1995-09-30', '1989-04-15', '1991-07-26', '1980-07-10',
       '1993-01-26', '1998-08-20', '1965-11-28', '1974-05-08',
       '1973-09-14', '1979-03-21', '1955-01-17', '1979-03-16',
       '1973-03-02', '1980-02-21', '1977-05-24', '1992-08-10',
       '1993-04-16', '1992-09-29', '1992-06-26', '1997-06-05',
       '1990-06-26', '1993-04-01', '1996-04-18', '1988-03-01',
       '1992-07-08', '1989-02-24', '1989-03-20', '1994-12-07',
       '1994-06-21', '1997-03-23', '1993-09-22', '1989-12-18',
       '1984-06-14', '1989-06-02', '1995-06-05', '1989-04-13',
       '1996-10-24', '1990-05-14', '1990-07-06', '1990-05-20',
       '1985-05-19', '1983-12-16', '1994-07-17', '1972-02-12',
       '1973-07-27', '1978-04-05', '1971-03-17', '1975-05-05',
       '1988-01-29', '1983-09-07', '1990-02-20', '1973-02-03',
       '1988-03-17', '1985-07-17', '1980-06-29', '1990-06-12',
       '1995-11-30', '1993-06-14', '1991-06-18', '1989-03-10',
       '2000-11-05', '1994-06-10', '1984-07-26', '1992-02-20',
       '1989-03-20', '1988-12-11', '1994-07-31', '1999-08-31',
       '1992-02-22', '1989-03-21', '1986-02-25', '1982-06-21',
       '1990-07-02', '1999-06-01', '1988-06-24', '1987-03-10',
       '1987-07-18', '1988-03-18', '1992-11-20', '1999-02-22',
       '1972-06-08', '1983-07-27', '1981-05-09', '1976-11-30',
       '1970-08-19', '1956-05-10', '1981-11-02', '1978-12-02',
       '1980-10-25', '1985-01-21', '1989-05-11', '1988-11-21',
       '1991-11-20', '1988-04-08', '1987-07-13', '1989-10-22',
       '1992-03-05', '1998-03-13', '2000-04-06', '1995-01-22',
       '1988-12-21', '1996-03-16', '1991-10-22', '1985-08-18',
       '1989-07-20', '1991-08-30', '1993-08-03', '1990-03-23',
       '1986-10-21', '1988-05-10', '2001-03-08', '1993-02-12',
       '1989-02-22', '1990-02-24', '1988-11-09', '1990-07-24',
       '1968-03-01', '1980-06-15', '1971-03-31', '1982-07-20',
       '1978-07-01', '1972-07-11', '1980-08-15', '1981-03-22',
       '1978-03-04', '1991-11-08', '1996-10-10', '1993-02-03',
       '1987-08-07', '1990-10-29', '1994-06-08', '1992-10-02',
       '1994-01-20', '1992-02-25', '1983-07-13', '1991-08-13',
       '1988-02-24', '1992-06-07', '1982-10-11', '1994-01-03',
       '1985-09-04', '1994-06-01', '1987-02-28', '1987-03-09',
       '1985-09-30', '2000-06-14', '1982-09-13', '1992-10-10',
       '1990-08-06', '1986-07-25', '1989-01-11', '1997-07-23',
       '1989-08-09', nan, '1968-04-10', '1961-12-03', '1971-10-30',
       '1975-10-24', '1970-03-01', '1984-03-01', '1980-04-01',
       '1981-01-26', '1987-05-13', '1989-07-16', '1995-10-03',
       '1990-07-03', '1987-11-01', '1990-03-19', '1992-04-16',
       '1984-11-19', '1992-07-14', '1990-01-16', '1995-07-25',
       '1985-06-01', '1994-09-09', '1989-08-27', '1987-05-11',
       '1989-07-07', '1983-06-24', '2000-12-03', '1994-02-25',
       '1985-12-04', '2000-01-17', '1984-07-13', '1982-05-29',
       '1993-09-30', '1989-05-18', '1994-02-20', '1985-08-26',
       '1988-10-02'], dtype=object)

In [ ]:
df.loc[df['math']>=90]

In [126]:
entry.loc[entry['생년월일'].values = lineup[lineup['포지션']=='투수']['생년월일'].values ]

SyntaxError: invalid syntax (<ipython-input-126-d7be337b5b25>, line 1)

In [129]:
entry['이름'].values

array(['이동욱', '이호준', '한규식', '진종길', '용덕한', '손민한', '강인권', '채종범', '이종욱',
       '라이트', '김건태', '박진우', '임정호', '루친스키', '임창민', '원종현', '구창모', '배재환',
       '강윤구', '양의지', '김태군', '박민우', '김찬형', '이상호', '모창민', '박석민', '김태진',
       '이원재', '노진혁', '최정원', '김준완', '알테어', '김성욱', '이명기', '권희동', '나성범',
       '강진성', '김태형', '김원형', '이도형', '조인성', '조성환', '김민재', '강동우', '강석천',
       '고영민', '함덕주', '이동원', '플렉센', '채지선', '윤명준', '알칸타라', '이현승', '이영하',
       '최원준', '박치국', '이형범', '박세혁', '이흥련', '정상호', '류지혁', '페르난데스', '허경민',
       '이유찬', '오재원', '오재일', '김재호', '최주환', '국해성', '안권수', '정수빈', '김재환',
       '박건우', '김인태', '이강철', '김태균', '김강', '박기혁', '박철영', '박정환', '최만호',
       '박승민', '조중근', '이대은', '배제성', '이상화', '김민수', '하준호', '전유수', '쿠에바스',
       '주권', '데스파이네', '손동현', '김재윤', '허도환', '장성우', '강현우', '심우준', '박경수',
       '강민국', '황재균', '김병희', '박승욱', '오태곤', '송민섭', '조용호', '로하스', '배정대',
       '강백호', '김민혁', '유한준', '류중일', '류지현', '이병규', '임훈', '최일언', '김재걸',
       '가득염', '세리자와', '김호', '최동환', '고우석', '진해수', '차우찬', '이민호', '여건욱',
       '김윤식', '정우영', '이상규', '문광은', '김대유', '이성우', '유강남', '김용의', '정주현',
       '정근우', '오지환', '김민성', '구본혁', '라모스', '손호영', '김현수', '이천웅', '박용택',
       '홍창기', '채은성', '손혁', '나이트', '오윤', '조재영', '강병식', '홍원기', '마정길', '김지수',
       '박도현', '브리검', '조상우', '오주원', '최원태', '김성민', '김상수', '김재웅', '신재영',
       '양현', '요키시', '임규빈', '이영준', '윤정현', '박동원', '이지영', '모터', '김혜성', '김주형',
       '김하성', '서건창', '박병호', '전병우', '임병욱', '박정음', '박준태', '이택근', '김규민',
       '이정후', '윌리엄스', '진갑용', '김종국', '김민우', '위더마이어', '최희섭', '송지만', '이현곤',
       '서재응', '이준영', '임기영', '홍건희', '박준표', '김현준', '가뇽', '변시원', '전상현',
       '양현종', '문경찬', '고영창', '백용환', '이정훈', '한승택', '최원준', '황윤호', '김선빈',
       '나주환', '최정민', '박찬호', '유민상', '최정용', '장영석', '터커', '문선재', '나지완',
       '최형우', '이우성', '허문회', '박종호', '오태근', '조웅천', '윤재국', '최현', '노병오',
       '윤윤덕', '롱', '정태승', '오현택', '송승준', '구승민', '박세웅', '김원중', '이인복', '박시영',
       '서준원', '박진형', '김대우', '최영환', '진명호', '스트레일리', '김준태', '정보근', '마차도',
       '신본기', '전준우', '이대호', '안치홍', '한동희', '김동한', '민병헌', '정훈', '손아섭', '허일',
       '추재현', '허삼영', '조동찬', '이영수', '박진만', '최태원', '김용달', '이정식', '정현욱',
       '강명구', '우규민', '뷰캐넌', '김대우', '이승현', '장필준', '백정현', '노성호', '라이블리',
       '최지광', '원태인', '최채흥', '임현준', '홍정우', '김응민', '강민호', '살라디노', '김재현',
       '이성규', '김상수', '이원석', '최영진', '김지찬', '구자욱', '박찬도', '박해민', '김헌곤',
       '김동엽', '염경엽', '이진영', '최상덕', '박재상', '김일경', '박경완', '최경철', '조동화',
       '정수성', '킹엄', '김택형', '김주한', '김세현', '하재훈', '김정빈', '서진용', '핀토', '박민호',
       '박희수', '박종훈', '이재원', '이현석', '채태인', '최항', '윤석민', '정현', '최정', '김성현',
       '로맥', '김창평', '김강민', '정진기', '노수광', '정의윤', '고종욱', '최지훈', '한동민',
       '한용덕', '장종훈', '김성래', '전형도', '채종국', '정민태', '정현석', '고동진', '차일목',
       '신정락', '임준섭', '김범수', '이태양', '장시환', '장민재', '김진영', '안영명', '이현호',
       '서폴드', '김민우', '정우람', '박상원', '최재훈', '이해창', '오선진', '송광민', '노시환',
       '하주석', '김회성', '정은원', '이성열', '김태균', '장진혁', '호잉', '장운호', '이용규',
       '정진호'], dtype=object)

In [130]:
lineup['이름_0'].values

array(['박민우', '알테어', '나성범', '양의지', '박석민', '모창민', '노진혁', '김성욱', '이명기',
       '루친스키', '김헌곤', '구자욱', '살라디노', '이원석', '김상수', '김동엽', '강민호', '박해민',
       '이성규', '백정현'], dtype=object)

In [ ]:
entry.loc[entry['생년월일'].values = lineup[lineup['포지션']=='투수']['생년월일'].values ]

In [132]:
condition = (entry['생년월일'].values ==  lineup[lineup['포지션']=='투수']['생년월일'].values) & (entry['이름'].values ==  lineup[lineup['포지션']=='투수']['이름_0'].values) # 조건식 작성

df[condition]

<ipython-input-132-4cfa4e87aed2>:1: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  condition = (entry['생년월일'].values ==  lineup[lineup['포지션']=='투수']['생년월일'].values) & (entry['이름'].values ==  lineup[lineup['포지션']=='투수']['이름_0'].values) # 조건식 작성

KeyError: False

In [ ]:
iris["new_columns"] = np.where( iris["sepal_length"].values > 5 , "Large","Small" )
iris.head()

In [135]:
entry

      등번호   이름  투타유형        생년월일           체격   구분 team  선발유무
0    70.0  이동욱  우투우타  1974-07-17  179cm, 81kg   감독   NC     0
1    27.0  이호준  우투우타  1976-02-08  187cm, 95kg   코치   NC     0
2    74.0  한규식  우투우타  1976-09-14  176cm, 78kg   코치   NC     0
3    75.0  진종길  우투좌타  1981-09-23  178cm, 80kg   코치   NC     0
4    77.0  용덕한  우투우타  1981-04-09  176cm, 82kg   코치   NC     0
..    ...  ...   ...         ...          ...  ...  ...   ...
362   NaN  장진혁  우투좌타  1993-09-30  184cm, 83kg  외야수   한화     0
363   NaN   호잉  우투좌타  1989-05-18  190cm, 92kg  외야수   한화     0
364  10.0  장운호  우투우타  1994-02-20  183cm, 85kg  외야수   한화     0
365  19.0  이용규  좌투좌타  1985-08-26  175cm, 70kg  외야수   한화     0
366  33.0  정진호  우투좌타  1988-10-02  185cm, 78kg  외야수   한화     0

[367 rows x 8 columns]

In [136]:
lineup

     타순               이름   포지션    투타 team        생년월일  이름_0
0   1.0   박민우_1993-02-06   2루수  우투좌타   NC  1993-02-06   박민우
1   2.0   알테어_1991-01-14   중견수  우투우타   NC  1991-01-14   알테어
2   3.0   나성범_1989-10-03  지명타자  좌투좌타   NC  1989-10-03   나성범
3   4.0   양의지_1987-06-05    포수  우투우타   NC  1987-06-05   양의지
4   5.0   박석민_1985-06-22   3루수  우투우타   NC  1985-06-22   박석민
5   6.0   모창민_1985-05-08   1루수  우투우타   NC  1985-05-08   모창민
6   7.0   노진혁_1989-07-15   유격수  우투좌타   NC  1989-07-15   노진혁
7   8.0   김성욱_1993-05-01   우익수  우투우타   NC  1993-05-01   김성욱
8   9.0   이명기_1987-12-26   좌익수  좌투좌타   NC  1987-12-26   이명기
9   NaN  루친스키_1988-12-30    투수  우투우타   NC  1988-12-30  루친스키
10  1.0   김헌곤_1988-11-09   우익수  우투우타   삼성  1988-11-09   김헌곤
11  2.0   구자욱_1993-02-12   좌익수  우투좌타   삼성  1993-02-12   구자욱
12  3.0  살라디노_1989-07-20   유격수  우투우타   삼성  1989-07-20  살라디노
13  4.0   이원석_1986-10-21   3루수  우투우타   삼성  1986-10-21   이원석
14  5.0   김상수_1990-03-23   2루수  우투우타   삼성  1990-03-23   김상수
15  6.0   김동엽_1990-07-24  지명타자  우투우타   삼성  1990-07-24   김동엽
16  7.0   강민호_1985-08-18    포수  우투우타   삼성  1985-08-18   강민호
17  8.0   박해민_1990-02-24   중견수  우투좌타   삼성  1990-02-24   박해민
18  9.0   이성규_1993-08-03   1루수  우투우타   삼성  1993-08-03   이성규
19  NaN   백정현_1987-07-13    투수  좌투좌타   삼성  1987-07-13   백정현

In [145]:
entry[lineup['이름_0'].values = entry['이름'].values]

SyntaxError: invalid syntax (<ipython-input-145-5049ad39007f>, line 1)

In [146]:
lineup['이름_0'].values

array(['박민우', '알테어', '나성범', '양의지', '박석민', '모창민', '노진혁', '김성욱', '이명기',
       '루친스키', '김헌곤', '구자욱', '살라디노', '이원석', '김상수', '김동엽', '강민호', '박해민',
       '이성규', '백정현'], dtype=object)

In [148]:
entry['이름'].values

array(['이동욱', '이호준', '한규식', '진종길', '용덕한', '손민한', '강인권', '채종범', '이종욱',
       '라이트', '김건태', '박진우', '임정호', '루친스키', '임창민', '원종현', '구창모', '배재환',
       '강윤구', '양의지', '김태군', '박민우', '김찬형', '이상호', '모창민', '박석민', '김태진',
       '이원재', '노진혁', '최정원', '김준완', '알테어', '김성욱', '이명기', '권희동', '나성범',
       '강진성', '김태형', '김원형', '이도형', '조인성', '조성환', '김민재', '강동우', '강석천',
       '고영민', '함덕주', '이동원', '플렉센', '채지선', '윤명준', '알칸타라', '이현승', '이영하',
       '최원준', '박치국', '이형범', '박세혁', '이흥련', '정상호', '류지혁', '페르난데스', '허경민',
       '이유찬', '오재원', '오재일', '김재호', '최주환', '국해성', '안권수', '정수빈', '김재환',
       '박건우', '김인태', '이강철', '김태균', '김강', '박기혁', '박철영', '박정환', '최만호',
       '박승민', '조중근', '이대은', '배제성', '이상화', '김민수', '하준호', '전유수', '쿠에바스',
       '주권', '데스파이네', '손동현', '김재윤', '허도환', '장성우', '강현우', '심우준', '박경수',
       '강민국', '황재균', '김병희', '박승욱', '오태곤', '송민섭', '조용호', '로하스', '배정대',
       '강백호', '김민혁', '유한준', '류중일', '류지현', '이병규', '임훈', '최일언', '김재걸',
       '가득염', '세리자와', '김호', '최동환', '고우석', '진해수', '차우찬', '이민호', '여건욱',
       '김윤식', '정우영', '이상규', '문광은', '김대유', '이성우', '유강남', '김용의', '정주현',
       '정근우', '오지환', '김민성', '구본혁', '라모스', '손호영', '김현수', '이천웅', '박용택',
       '홍창기', '채은성', '손혁', '나이트', '오윤', '조재영', '강병식', '홍원기', '마정길', '김지수',
       '박도현', '브리검', '조상우', '오주원', '최원태', '김성민', '김상수', '김재웅', '신재영',
       '양현', '요키시', '임규빈', '이영준', '윤정현', '박동원', '이지영', '모터', '김혜성', '김주형',
       '김하성', '서건창', '박병호', '전병우', '임병욱', '박정음', '박준태', '이택근', '김규민',
       '이정후', '윌리엄스', '진갑용', '김종국', '김민우', '위더마이어', '최희섭', '송지만', '이현곤',
       '서재응', '이준영', '임기영', '홍건희', '박준표', '김현준', '가뇽', '변시원', '전상현',
       '양현종', '문경찬', '고영창', '백용환', '이정훈', '한승택', '최원준', '황윤호', '김선빈',
       '나주환', '최정민', '박찬호', '유민상', '최정용', '장영석', '터커', '문선재', '나지완',
       '최형우', '이우성', '허문회', '박종호', '오태근', '조웅천', '윤재국', '최현', '노병오',
       '윤윤덕', '롱', '정태승', '오현택', '송승준', '구승민', '박세웅', '김원중', '이인복', '박시영',
       '서준원', '박진형', '김대우', '최영환', '진명호', '스트레일리', '김준태', '정보근', '마차도',
       '신본기', '전준우', '이대호', '안치홍', '한동희', '김동한', '민병헌', '정훈', '손아섭', '허일',
       '추재현', '허삼영', '조동찬', '이영수', '박진만', '최태원', '김용달', '이정식', '정현욱',
       '강명구', '우규민', '뷰캐넌', '김대우', '이승현', '장필준', '백정현', '노성호', '라이블리',
       '최지광', '원태인', '최채흥', '임현준', '홍정우', '김응민', '강민호', '살라디노', '김재현',
       '이성규', '김상수', '이원석', '최영진', '김지찬', '구자욱', '박찬도', '박해민', '김헌곤',
       '김동엽', '염경엽', '이진영', '최상덕', '박재상', '김일경', '박경완', '최경철', '조동화',
       '정수성', '킹엄', '김택형', '김주한', '김세현', '하재훈', '김정빈', '서진용', '핀토', '박민호',
       '박희수', '박종훈', '이재원', '이현석', '채태인', '최항', '윤석민', '정현', '최정', '김성현',
       '로맥', '김창평', '김강민', '정진기', '노수광', '정의윤', '고종욱', '최지훈', '한동민',
       '한용덕', '장종훈', '김성래', '전형도', '채종국', '정민태', '정현석', '고동진', '차일목',
       '신정락', '임준섭', '김범수', '이태양', '장시환', '장민재', '김진영', '안영명', '이현호',
       '서폴드', '김민우', '정우람', '박상원', '최재훈', '이해창', '오선진', '송광민', '노시환',
       '하주석', '김회성', '정은원', '이성열', '김태균', '장진혁', '호잉', '장운호', '이용규',
       '정진호'], dtype=object)

In [149]:
entry

      등번호   이름  투타유형        생년월일           체격   구분 team  선발유무
0    70.0  이동욱  우투우타  1974-07-17  179cm, 81kg   감독   NC     0
1    27.0  이호준  우투우타  1976-02-08  187cm, 95kg   코치   NC     0
2    74.0  한규식  우투우타  1976-09-14  176cm, 78kg   코치   NC     0
3    75.0  진종길  우투좌타  1981-09-23  178cm, 80kg   코치   NC     0
4    77.0  용덕한  우투우타  1981-04-09  176cm, 82kg   코치   NC     0
..    ...  ...   ...         ...          ...  ...  ...   ...
362   NaN  장진혁  우투좌타  1993-09-30  184cm, 83kg  외야수   한화     0
363   NaN   호잉  우투좌타  1989-05-18  190cm, 92kg  외야수   한화     0
364  10.0  장운호  우투우타  1994-02-20  183cm, 85kg  외야수   한화     0
365  19.0  이용규  좌투좌타  1985-08-26  175cm, 70kg  외야수   한화     0
366  33.0  정진호  우투좌타  1988-10-02  185cm, 78kg  외야수   한화     0

[367 rows x 8 columns]

In [150]:
lineup

     타순               이름   포지션    투타 team        생년월일  이름_0
0   1.0   박민우_1993-02-06   2루수  우투좌타   NC  1993-02-06   박민우
1   2.0   알테어_1991-01-14   중견수  우투우타   NC  1991-01-14   알테어
2   3.0   나성범_1989-10-03  지명타자  좌투좌타   NC  1989-10-03   나성범
3   4.0   양의지_1987-06-05    포수  우투우타   NC  1987-06-05   양의지
4   5.0   박석민_1985-06-22   3루수  우투우타   NC  1985-06-22   박석민
5   6.0   모창민_1985-05-08   1루수  우투우타   NC  1985-05-08   모창민
6   7.0   노진혁_1989-07-15   유격수  우투좌타   NC  1989-07-15   노진혁
7   8.0   김성욱_1993-05-01   우익수  우투우타   NC  1993-05-01   김성욱
8   9.0   이명기_1987-12-26   좌익수  좌투좌타   NC  1987-12-26   이명기
9   NaN  루친스키_1988-12-30    투수  우투우타   NC  1988-12-30  루친스키
10  1.0   김헌곤_1988-11-09   우익수  우투우타   삼성  1988-11-09   김헌곤
11  2.0   구자욱_1993-02-12   좌익수  우투좌타   삼성  1993-02-12   구자욱
12  3.0  살라디노_1989-07-20   유격수  우투우타   삼성  1989-07-20  살라디노
13  4.0   이원석_1986-10-21   3루수  우투우타   삼성  1986-10-21   이원석
14  5.0   김상수_1990-03-23   2루수  우투우타   삼성  1990-03-23   김상수
15  6.0   김동엽_1990-07-24  지명타자  우투우타   삼성  1990-07-24   김동엽
16  7.0   강민호_1985-08-18    포수  우투우타   삼성  1985-08-18   강민호
17  8.0   박해민_1990-02-24   중견수  우투좌타   삼성  1990-02-24   박해민
18  9.0   이성규_1993-08-03   1루수  우투우타   삼성  1993-08-03   이성규
19  NaN   백정현_1987-07-13    투수  좌투좌타   삼성  1987-07-13   백정현

In [159]:
lineup['이름']=lineup['이름_0']

In [161]:
lineup

     타순    이름   포지션    투타 team        생년월일  이름_0  선발유무
0   1.0   박민우   2루수  우투좌타   NC  1993-02-06   박민우     0
1   2.0   알테어   중견수  우투우타   NC  1991-01-14   알테어     0
2   3.0   나성범  지명타자  좌투좌타   NC  1989-10-03   나성범     0
3   4.0   양의지    포수  우투우타   NC  1987-06-05   양의지     0
4   5.0   박석민   3루수  우투우타   NC  1985-06-22   박석민     0
5   6.0   모창민   1루수  우투우타   NC  1985-05-08   모창민     0
6   7.0   노진혁   유격수  우투좌타   NC  1989-07-15   노진혁     0
7   8.0   김성욱   우익수  우투우타   NC  1993-05-01   김성욱     0
8   9.0   이명기   좌익수  좌투좌타   NC  1987-12-26   이명기     0
9   NaN  루친스키    투수  우투우타   NC  1988-12-30  루친스키     1
10  1.0   김헌곤   우익수  우투우타   삼성  1988-11-09   김헌곤     0
11  2.0   구자욱   좌익수  우투좌타   삼성  1993-02-12   구자욱     0
12  3.0  살라디노   유격수  우투우타   삼성  1989-07-20  살라디노     0
13  4.0   이원석   3루수  우투우타   삼성  1986-10-21   이원석     0
14  5.0   김상수   2루수  우투우타   삼성  1990-03-23   김상수     0
15  6.0   김동엽  지명타자  우투우타   삼성  1990-07-24   김동엽     0
16  7.0   강민호    포수  우투우타   삼성  1985-08-18   강민호     0
17  8.0   박해민   중견수  우투좌타   삼성  1990-02-24   박해민     0
18  9.0   이성규   1루수  우투우타   삼성  1993-08-03   이성규     0
19  NaN   백정현    투수  좌투좌타   삼성  1987-07-13   백정현     1

In [162]:
lineup['선발유무'] = np.where(lineup['포지션'] == '투수',1,0)

In [163]:
lineup

     타순    이름   포지션    투타 team        생년월일  이름_0  선발유무
0   1.0   박민우   2루수  우투좌타   NC  1993-02-06   박민우     0
1   2.0   알테어   중견수  우투우타   NC  1991-01-14   알테어     0
2   3.0   나성범  지명타자  좌투좌타   NC  1989-10-03   나성범     0
3   4.0   양의지    포수  우투우타   NC  1987-06-05   양의지     0
4   5.0   박석민   3루수  우투우타   NC  1985-06-22   박석민     0
5   6.0   모창민   1루수  우투우타   NC  1985-05-08   모창민     0
6   7.0   노진혁   유격수  우투좌타   NC  1989-07-15   노진혁     0
7   8.0   김성욱   우익수  우투우타   NC  1993-05-01   김성욱     0
8   9.0   이명기   좌익수  좌투좌타   NC  1987-12-26   이명기     0
9   NaN  루친스키    투수  우투우타   NC  1988-12-30  루친스키     1
10  1.0   김헌곤   우익수  우투우타   삼성  1988-11-09   김헌곤     0
11  2.0   구자욱   좌익수  우투좌타   삼성  1993-02-12   구자욱     0
12  3.0  살라디노   유격수  우투우타   삼성  1989-07-20  살라디노     0
13  4.0   이원석   3루수  우투우타   삼성  1986-10-21   이원석     0
14  5.0   김상수   2루수  우투우타   삼성  1990-03-23   김상수     0
15  6.0   김동엽  지명타자  우투우타   삼성  1990-07-24   김동엽     0
16  7.0   강민호    포수  우투우타   삼성  1985-08-18   강민호     0
17  8.0   박해민   중견수  우투좌타   삼성  1990-02-24   박해민     0
18  9.0   이성규   1루수  우투우타   삼성  1993-08-03   이성규     0
19  NaN   백정현    투수  좌투좌타   삼성  1987-07-13   백정현     1

In [164]:
pd.merge(entry, lineup, on = '이름')

,등번호,이름,투타유형,생년월일_x,체격,구분,team_x,선발유무_x,타순,포지션,투타,team_y,생년월일_y,이름_0,선발유무_y
0,40.0,루친스키,우투우타,1988-12-30,"188cm, 91kg",투수,NC,0,NaN,투수,우투우타,NC,1988-12-30,루친스키,1
1,25.0,양의지,우투우타,1987-06-05,"179cm, 85kg",포수,NC,0,4.0,포수,우투우타,NC,1987-06-05,양의지,0
2,2.0,박민우,우투좌타,1993-02-06,"185cm, 80kg",내야수,NC,0,1.0,2루수,우투좌타,NC,1993-02-06,박민우,0
3,16.0,모창민,우투우타,1985-05-08,"188cm, 89kg",내야수,NC,0,6.0,1루수,우투우타,NC,1985-05-08,모창민,0
4,18.0,박석민,우투우타,1985-06-22,"178cm, 88kg",내야수,NC,0,5.0,3루수,우투우타,NC,1985-06-22,박석민,0
5,52.0,노진혁,우투좌타,1989-07-15,"184cm, 80kg",내야수,NC,0,7.0,유격수,우투좌타,NC,1989-07-15,노진혁,0
6,23.0,알테어,우투우타,1991-01-14,"196cm, 97kg",외야수,NC,0,2.0,중견수,우투우타,NC,1991-01-14,알테어,0
7,31.0,김성욱,우투우타,1993-05-01,"181cm, 83kg",외야수,NC,0,8.0,우익수,우투우타,NC,1993-05-01,김성욱,0
8,33.0,이명기,좌투좌타,1987-12-26,"183cm, 87kg",외야수,NC,0,9.0,좌익수,좌투좌타,NC,1987-12-26,이명기,0
9,47.0,나성범,좌투좌타,1989-10-03,"183cm, 100kg",외야수,NC,0,3.0,지명타자,좌투좌타,NC,1989-10-03,나성범,0
10,24.0,김상수,우투우타,1988-01-02,"180cm, 88kg",투수,키움,0,5.0,2루수,우투우타,삼성,1990-03-23,김상수,0
11,7.0,김상수,우투우타,1990-03-23,"175cm, 68kg",내야수,삼성,0,5.0,2루수,우투우타,삼성,1990-03-23,김상수,0
12,29.0,백정현,좌투좌타,1987-07-13,"184cm, 80kg",투수,삼성,0,NaN,투수,좌투좌타,삼성,1987-07-13,백정현,1
13,47.0,강민호,우투우타,1985-08-18,"185cm, 100kg",포수,삼성,0,7.0,포수,우투우타,삼성,1985-08-18,강민호,0
14,NaN,살라디노,우투우타,1989-07-20,"183cm, 90kg",내야수,삼성,0,3.0,유격수,우투우타,삼성,1989-07-20,살라디노,0
15,6.0,이성규,우투우타,1993-08-03,"178cm, 82kg",내야수,삼성,0,9.0,1루수,우투우타,삼성,1993-08-03,이성규,0
16,16.0,이원석,우투우타,1986-10-21,"182cm, 82kg",내야수,삼성,0,4.0,3루수,우투우타,삼성,1986-10-21,이원석,0
17,5.0,구자욱,우투좌타,1993-02-12,"189cm, 75kg",외야수,삼성,0,2.0,좌익수,우투좌타,삼성,1993-02-12,구자욱,0
18,13.0,박해민,우투좌타,1990-02-24,"180cm, 75kg",외야수,삼성,0,8.0,중견수,우투좌타,삼성,1990-02-24,박해민,0
19,34.0,김헌곤,우투우타,1988-11-09,"174cm, 81kg",외야수,삼성,0,1.0,우익수,우투우타,삼성,1988-11-09,김헌곤,0
20,38.0,김동엽,우투우타,1990-07-24,"186cm, 101kg",외야수,삼성,0,6.0,지명타자,우투우타,삼성,1990-07-24,김동엽,0

In [166]:
pd.merge(entry, lineup, on = '이름', how = 'left')

,등번호,이름,투타유형,생년월일_x,체격,구분,team_x,선발유무_x,타순,포지션,투타,team_y,생년월일_y,이름_0,선발유무_y
0,70.0,이동욱,우투우타,1974-07-17,"179cm, 81kg",감독,NC,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,27.0,이호준,우투우타,1976-02-08,"187cm, 95kg",코치,NC,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,74.0,한규식,우투우타,1976-09-14,"176cm, 78kg",코치,NC,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,75.0,진종길,우투좌타,1981-09-23,"178cm, 80kg",코치,NC,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,77.0,용덕한,우투우타,1981-04-09,"176cm, 82kg",코치,NC,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,NaN,장진혁,우투좌타,1993-09-30,"184cm, 83kg",외야수,한화,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,NaN,호잉,우투좌타,1989-05-18,"190cm, 92kg",외야수,한화,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364,10.0,장운호,우투우타,1994-02-20,"183cm, 85kg",외야수,한화,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365,19.0,이용규,좌투좌타,1985-08-26,"175cm, 70kg",외야수,한화,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,33.0,정진호,우투좌타,1988-10-02,"185cm, 78kg",외야수,한화,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [167]:
entry

      등번호   이름  투타유형        생년월일           체격   구분 team  선발유무
0    70.0  이동욱  우투우타  1974-07-17  179cm, 81kg   감독   NC     0
1    27.0  이호준  우투우타  1976-02-08  187cm, 95kg   코치   NC     0
2    74.0  한규식  우투우타  1976-09-14  176cm, 78kg   코치   NC     0
3    75.0  진종길  우투좌타  1981-09-23  178cm, 80kg   코치   NC     0
4    77.0  용덕한  우투우타  1981-04-09  176cm, 82kg   코치   NC     0
..    ...  ...   ...         ...          ...  ...  ...   ...
362   NaN  장진혁  우투좌타  1993-09-30  184cm, 83kg  외야수   한화     0
363   NaN   호잉  우투좌타  1989-05-18  190cm, 92kg  외야수   한화     0
364  10.0  장운호  우투우타  1994-02-20  183cm, 85kg  외야수   한화     0
365  19.0  이용규  좌투좌타  1985-08-26  175cm, 70kg  외야수   한화     0
366  33.0  정진호  우투좌타  1988-10-02  185cm, 78kg  외야수   한화     0

[367 rows x 8 columns]

In [175]:
pd.merge(entry, lineup, on = '이름', how = 'left')

,등번호,이름,투타유형,생년월일_x,체격,구분,team_x,선발유무_x,타순,포지션,투타,team_y,생년월일_y,이름_0,선발유무_y
0,70.0,이동욱,우투우타,1974-07-17,"179cm, 81kg",감독,NC,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,27.0,이호준,우투우타,1976-02-08,"187cm, 95kg",코치,NC,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,74.0,한규식,우투우타,1976-09-14,"176cm, 78kg",코치,NC,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,75.0,진종길,우투좌타,1981-09-23,"178cm, 80kg",코치,NC,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,77.0,용덕한,우투우타,1981-04-09,"176cm, 82kg",코치,NC,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,NaN,장진혁,우투좌타,1993-09-30,"184cm, 83kg",외야수,한화,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,NaN,호잉,우투좌타,1989-05-18,"190cm, 92kg",외야수,한화,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364,10.0,장운호,우투우타,1994-02-20,"183cm, 85kg",외야수,한화,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365,19.0,이용규,좌투좌타,1985-08-26,"175cm, 70kg",외야수,한화,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,33.0,정진호,우투좌타,1988-10-02,"185cm, 78kg",외야수,한화,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [176]:
pd.merge(entry, lineup, on = '이름', how = 'left')[pd.merge(entry, lineup, on = '이름', how = 'left')['선발유무_y']==1]

,등번호,이름,투타유형,생년월일_x,체격,구분,team_x,선발유무_x,타순,포지션,투타,team_y,생년월일_y,이름_0,선발유무_y
13,40.0,루친스키,우투우타,1988-12-30,"188cm, 91kg",투수,NC,0,NaN,투수,우투우타,NC,1988-12-30,루친스키,1.0
271,29.0,백정현,좌투좌타,1987-07-13,"184cm, 80kg",투수,삼성,0,NaN,투수,좌투좌타,삼성,1987-07-13,백정현,1.0

In [177]:
pd.merge(entry, lineup, on = '이름', how = 'left')[pd.merge(entry, lineup, on = '이름', how = 'left')['선발유무_y']==1]['선발유무_y']

13     1.0
271    1.0
Name: 선발유무_y, dtype: float64

In [ ]:
pd.merge(left, right, on = 'col', how = 'left')

In [134]:
entry['선발유무'] = np.where(entry['생년월일'].values == lineup[lineup['포지션']=='투수']['생년월일'],1,0)

<ipython-input-134-7d391906583f>:1: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  entry['선발유무'] = np.where(entry['생년월일'].values == lineup[lineup['포지션']=='투수']['생년월일'],1,0)

ValueError: ('Lengths must match to compare', (2,), (367,))

In [ ]:
df.loc[df['name'].isin(['a00','b00','c00'])&(df['math']>=90)]

In [ ]:
df.loc[df['name'].isin(['a00','b00','c00'])&(df['math']>=90)]

In [131]:
entry.loc[entry['이름'].values == lineup['이름_0'].values ]

<ipython-input-131-0cac56323c9a>:1: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  entry.loc[entry['이름'].values == lineup['이름_0'].values ]

KeyError: False

In [105]:
lineup3=lineup[lineup['포지션']=='투수']['이름_0']
lineup3

9     루친스키
19     백정현
Name: 이름_0, dtype: object

In [97]:
entry['생년월일']

0      1974-07-17
1      1976-02-08
2      1976-09-14
3      1981-09-23
4      1981-04-09
          ...
362    1993-09-30
363    1989-05-18
364    1994-02-20
365    1985-08-26
366    1988-10-02
Name: 생년월일, Length: 367, dtype: object

In [109]:
entry['생년월일'][0]

'1974-07-17'

In [103]:
entry

      등번호   이름  투타유형        생년월일           체격   구분 team  선발유무
0    70.0  이동욱  우투우타  1974-07-17  179cm, 81kg   감독   NC     0
1    27.0  이호준  우투우타  1976-02-08  187cm, 95kg   코치   NC     0
2    74.0  한규식  우투우타  1976-09-14  176cm, 78kg   코치   NC     0
3    75.0  진종길  우투좌타  1981-09-23  178cm, 80kg   코치   NC     0
4    77.0  용덕한  우투우타  1981-04-09  176cm, 82kg   코치   NC     0
..    ...  ...   ...         ...          ...  ...  ...   ...
362   NaN  장진혁  우투좌타  1993-09-30  184cm, 83kg  외야수   한화     0
363   NaN   호잉  우투좌타  1989-05-18  190cm, 92kg  외야수   한화     0
364  10.0  장운호  우투우타  1994-02-20  183cm, 85kg  외야수   한화     0
365  19.0  이용규  좌투좌타  1985-08-26  175cm, 70kg  외야수   한화     0
366  33.0  정진호  우투좌타  1988-10-02  185cm, 78kg  외야수   한화     0

[367 rows x 8 columns]

In [16]:
entry['생년월일']

0      1974-07-17
1      1976-02-08
2      1976-09-14
3      1981-09-23
4      1981-04-09
          ...
362    1993-09-30
363    1989-05-18
364    1994-02-20
365    1985-08-26
366    1988-10-02
Name: 생년월일, Length: 367, dtype: object

In [39]:
lineup['이름'][:][0][4:]

'1993-02-06'

In [31]:
lineup['이름'][:][1]

'알테어_1991-01-14'

In [40]:
lineup['이름'][:][1][4:]

'1991-01-14'

In [45]:

    lineup(lineup['이름'][:][i][4:]==entry['생년월일'] & subset_df['team']==lineup['team'])
    print(lineup(lineup['이름'][:][i][4:]==entry['생년월일'] & subset_df['team']==lineup['team']))

TypeError: unsupported operand type(s) for &: 'str' and 'bool'

In [23]:
lineup_nc = lineup[lineup['team']=='NC']
lineup_nc

    타순               이름   포지션    투타 team
0  1.0   박민우_1993-02-06   2루수  우투좌타   NC
1  2.0   알테어_1991-01-14   중견수  우투우타   NC
2  3.0   나성범_1989-10-03  지명타자  좌투좌타   NC
3  4.0   양의지_1987-06-05    포수  우투우타   NC
4  5.0   박석민_1985-06-22   3루수  우투우타   NC
5  6.0   모창민_1985-05-08   1루수  우투우타   NC
6  7.0   노진혁_1989-07-15   유격수  우투좌타   NC
7  8.0   김성욱_1993-05-01   우익수  우투우타   NC
8  9.0   이명기_1987-12-26   좌익수  좌투좌타   NC
9  NaN  루친스키_1988-12-30    투수  우투우타   NC

In [34]:
for i, name in enumerate(lineup_nc['이름']):
    lineup_nc['name'][i] = name.split('_')[0]

C:\Users\miran\AppData\Local\Temp\ipykernel_5136\3000670592.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lineup_nc['name'][i] = name.split('_')[0]

In [37]:
#엔트리에서 감독, 코치 제거
player_nc = entry[(entry['team']=='NC') & (entry['구분']!='감독') & (entry['구분']!='코치')]

In [39]:
lineup_nc[lineup_nc['포지션']=='투수']

   타순               이름 포지션    투타 team  name
9 NaN  루친스키_1988-12-30  투수  우투우타   NC  루친스키

In [45]:
player_nc.drop('선발투수', axis=1, inplace=True)

C:\Users\miran\AppData\Local\Temp\ipykernel_5136\2456009967.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player_nc.drop('선발투수', axis=1, inplace=True)

In [46]:
player_nc['선발투수'] = np.where()

     등번호    이름  투타유형        생년월일            체격   구분 team
9   12.0   라이트  우투우타  1990-01-03   198cm, 97kg   투수   NC
10  24.0   김건태  우투우타  1991-10-02   185cm, 85kg   투수   NC
11  30.0   박진우  우언우타  1990-02-12   180cm, 83kg   투수   NC
12  38.0   임정호  좌투좌타  1990-04-16   188cm, 90kg   투수   NC
13  40.0  루친스키  우투우타  1988-12-30   188cm, 91kg   투수   NC
14  45.0   임창민  우투우타  1985-08-25   183cm, 85kg   투수   NC
15  46.0   원종현  우언우타  1987-07-31   182cm, 83kg   투수   NC
16  59.0   구창모  좌투좌타  1997-02-17   183cm, 85kg   투수   NC
17  61.0   배재환  우투우타  1995-02-24   186cm, 95kg   투수   NC
18  68.0   강윤구  좌투좌타  1990-07-10   183cm, 89kg   투수   NC
19  25.0   양의지  우투우타  1987-06-05   179cm, 85kg   포수   NC
20  42.0   김태군  우투우타  1989-12-30   182cm, 92kg   포수   NC
21   2.0   박민우  우투좌타  1993-02-06   185cm, 80kg  내야수   NC
22   5.0   김찬형  우투우타  1997-12-29   182cm, 80kg  내야수   NC
23   7.0   이상호  우투우타  1989-02-05   180cm, 82kg  내야수   NC
24  16.0   모창민  우투우타  1985-05-08   188cm, 89kg  내야수   NC
25  18.0   박석민  우투우타  1985-06-22   178cm, 88kg  내야수   NC
26  19.0   김태진  우투좌타  1995-10-07   170cm, 75kg  내야수   NC
27  32.0   이원재  우투좌타  1989-05-20   186cm, 86kg  내야수   NC
28  52.0   노진혁  우투좌타  1989-07-15   184cm, 80kg  내야수   NC
29  64.0   최정원  우투좌타  2000-06-24   176cm, 70kg  내야수   NC
30   1.0   김준완  우투좌타  1991-01-20   174cm, 75kg  외야수   NC
31  23.0   알테어  우투우타  1991-01-14   196cm, 97kg  외야수   NC
32  31.0   김성욱  우투우타  1993-05-01   181cm, 83kg  외야수   NC
33  33.0   이명기  좌투좌타  1987-12-26   183cm, 87kg  외야수   NC
34  36.0   권희동  우투우타  1990-12-30   177cm, 85kg  외야수   NC
35  47.0   나성범  좌투좌타  1989-10-03  183cm, 100kg  외야수   NC
36  49.0   강진성  우투우타  1993-10-19   180cm, 81kg  외야수   NC